<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>$title$ - Fix Planet Club</title>
  <meta name="geo.placename" content="Edinburgh" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Fix Planet Club - Climate Tech Microgrants!" />

  <!-- <link rel="stylesheet" href="/css/simple.css?$commit$" /> -->
  <link rel="stylesheet" href="/css/Style.css?$commit$" />
  <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">


  <!-- Meta tags for little cards and such. -->
  <meta property="og:title" content="$title$ - Fix Planet Club"/>
  <meta property='og:url' content="$rootUrl$$url$" />
  $if(imageDescription)$
    <meta property="og:image" content="$rootUrl$$image$" />
    <meta property="og:description" content="$imageDescription$"/>
  $endif$
</head>
<body>
  <section role="banner" id="header">
    <nav role="navigation">
      <div class="container">
        <ul class="main-menu">
          <li id="logo"><a href="/"><img alt="Fix Planet Club" title="Fix Planet Club" src="/images/earth-white-300.png" width="150" /></a>
          </li>
          <li>
            <h1 class="big"> Fix Planet Club </h1>
            <h2> <small><em>Supporting you to find a sustainable fixed point for the planet :)</em></small>
            </h2>
          </li>
        <ul>
      </div>
      <div class="container">
        <ul class="menu">
          <li><a alt="Home" title="Home" href="/">Home</a></li>
          <!-- <li><a alt="Blog" title="Blog" href="/">Blog</a></li> -->
          <li><a alt="Project selection committee" title="Project selection committee" href="/committee.html">Project selection committee</a></li>
          <li><a alt="Governance" title="Governance" href="https://github.com/FixPlanet/org#governance">Governance <img src="/images/out.png" height=12 /></a></li>
        </ul>
      </div>
    </nav>
  </section>

  <div id="content" role="main">
    $body$
  </div>

  <footer>
    <div class="sections">
      <div class="section">
        <h3> Community/Contact </h3>
        <ul>
          <!-- TODO: Link to slack -->
          <li> <a href="https://join.slack.com/t/fixplanetclub/shared_invite/zt-1dwnqqvuc-5sXa4HYsl81T9N35W~M9CA">Join our Slack community <img src="/images/out.png" height=10 /></a> </li>
          <li> <a href="https://fixplanetclub.substack.com/">Subscribe to our newsletter <img src="/images/out.png" height=10 /></a>
            <li> Email: <a href="mailto:fixplanetclub@protonmail.com">fixplanetclub@protonmail.com</a>
          </li>
        </ul>
      </div>

      <div class="section">
        <h3> Links </h3>
        <ul>
          <!-- TODO: Link to TypeForm -->
          <li> <a href="">Apply for a grant</a> </li>
          <!-- <li> <a href="/blog.html">Blog</a> </li> -->
          <li><a alt="Project selection committee" title="Project selection committee" href="/committee.html">Project selection committee</a></li>
          <li><a alt="Governance" title="Governance" href="https://github.com/FixPlanet/org#governance">Governance <img src="/images/out.png" height=10 /></a></li>
          <li><a alt="FixPlanet on GitHub" title="FixPlanet on GitHub" href="https://github.com/FixPlanet">github/FixPlanet <img src="/images/out.png" height=10 /></a></li>
        </ul>
      </div>

      <div class="section">
        <h3> Similar organisations </h3>
        <ul>
          <li> <a href="https://subak.org/">Subak <img src="/images/out.png" height=10 /></a> </li>
          <li> <a href="https://unitary.fund/">Unitary Fund <img src="/images/out.png" height=10 /></a> </li>
        </ul>
      </div>
    </div>

    <div class="final-note">
      <small>Made with ❤️. Our website doesn't use cookies :-)</small>
    </div>
  </footer>
</body>
</html>
